.flexibox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.flexibox.fifths * {
  -webkit-flex-basis: 17%;
  -moz-flex-basis: 17%;
  -ms-flex-basis: 17%;
  flex-basis: 17%;
}
.flexibox.fifths *.double {
  -webkit-flex-basis: 35%;
  -moz-flex-basis: 35%;
  -ms-flex-basis: 35%;
  flex-basis: 35%;
}
.flexibox.fifths *.triple {
  -webkit-flex-basis: 55%;
  -moz-flex-basis: 55%;
  -ms-flex-basis: 55%;
  flex-basis: 55%;
}
.flexibox.fifths *.quadruple {
  -webkit-flex-basis: 75%;
  -moz-flex-basis: 75%;
  -ms-flex-basis: 75%;
  flex-basis: 75%;
}
.flexibox.quarters * {
  -webkit-flex-basis: 22%;
  -moz-flex-basis: 22%;
  -ms-flex-basis: 22%;
  flex-basis: 22%;
}
.flexibox.quarters *.double {
  -webkit-flex-basis: 47%;
  -moz-flex-basis: 47%;
  -ms-flex-basis: 47%;
  flex-basis: 47%;
}
.flexibox.quarters *.triple {
  -webkit-flex-basis: 72%;
  -moz-flex-basis: 72%;
  -ms-flex-basis: 72%;
  flex-basis: 72%;
}
.flexibox.thirds * {
  -webkit-flex-basis: 31%;
  -moz-flex-basis: 31%;
  -ms-flex-basis: 31%;
  flex-basis: 31%;
}
.flexibox.thirds *.double {
  -webkit-flex-basis: 64%;
  -moz-flex-basis: 64%;
  -ms-flex-basis: 64%;
  flex-basis: 64%;
}
.flexibox.halves * {
  -webkit-flex-basis: 47%;
  -moz-flex-basis: 47%;
  -ms-flex-basis: 47%;
  flex-basis: 47%;
}
.flexibox * {
  min-width: 250px;
  margin: 1%;
  padding: 10px;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flexibox *.full {
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
}
